/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-05-2019, 10:07:20
    Author     : Christian Occhionero
*/

.background {
    -fx-background-color:  #ffffff;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    -fx-text-fill:  #000000;
    -fx-opacity: 1;
}
.scroll-pane{
    -fx-border-color: #004884;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
}

.vbox{
    -fx-background-color: #ffffff;
}

.titled-pane{
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-text-fill: #ffffff;
}

.titled-pane > .title 
{
    -fx-background-color: #004884;
    -fx-font-size: 12pt;
}
.titled-pane > *.content 
{
    -fx-background-color: #ffffff;
 }
 
 .titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color: #ffffff;
}

.progress-bar{
    -fx-border-color: #000000;
}

.progress-bar .bar{
    -fx-background-color: #004884;
    -fx-background-insets: 3, 3, 3, 3;
}

.progress-bar .track{
    -fx-background-color: #ffffff;
}


.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #004884;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #004884;
    -fx-text-fill: #ffffff;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #004884;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #494dff;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #fbbc51;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.scroll-pane {
    -fx-backround-color:black;  
}



